<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang='en' xml:lang="en">
<head>
   <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
   <title>NBA Database</title>
   <link type="text/css" rel="stylesheet" href="css/indexcss.css">
</head>
<body>
   <h1>NBA TEAMS</h1>
     <table>
        <tr>
	   <th colspan="3">The West</th>
	   <th colspan="3">The East</th>
        </tr>
        <tr>
	   <td class="Area"> The Southwest Area</td>
	   <td class="Area"> The Northwest Area</td>
	   <td class="Area"> The Pacific Area</td>
	   <td class="Area"> The Southeast Area</td>
	   <td class="Area"> The Middle Area</td>
	   <td class="Area"> The Alantic Area</td>
	</tr>
        <tr>
	   <td> San Antonio Spurs</td>
	   <td> Minnesota Timberwolves</td>
	   <td> Sacramento Kings</td>
	   <td> Miami Heat</td>
	   <td> Detroit Pistons</td>
	   <td> Boston Celtics</td>
	</tr>
	<tr>
	   <td> Memphis Grizzlies</td>
	   <td> Denver Nuggets</td>
	   <td> Phoenix Suns</td>
	   <td> Orlando Magic</td>
	   <td> Indiana Pacers</td>
	   <td> Philadelphia 76ers</td>
	</tr>
	<tr>
	   <td> Dallas Mavericks</td>
	   <td> Utah Jazz</td>
	   <td> L.A. Lakers</td>
	   <td> Atlanta Hawks</td>
	   <td> Cleveland Cavaliers</td>
	   <td> New York Knicks</td>
	</tr>
	<tr>
	   <td> Houston Rockets</td>
	   <td> Portland Trail Blazers</td>
	   <td> L.A. Clippers</td>
	   <td> Washington Wizards</td>
	   <td> Chicago Bulls</td>
	   <td> Brooklyn Nets</td>
	</tr>
	<tr>
	   <td> New Orleans Pelicans</td>
	   <td> Oklahoma City Thunder</td>
	   <td> Golden State Warriors</td>
	   <td> Charlotte Bobcats</td>
	   <td> Milwaukee Bucks</td>
	   <td> Toronto Raptors</td>
	</tr>
     </table>
</body>
</html>
