<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang='en' xml:lang="en">
<head>
   <meta http-equiv="content-type" 
   content="text/html; charset=ISO-8859-1" />
   <title>NBA Database</title>
   <link type="text/css" rel="stylesheet" href="css/indexcss.css">
</head>
<body>
   <h1>NBA TEAMS</h1>
     <table>
        <tr>
	   <th colspan="3">The West</th>
	   <th colspan="3">The East</th>
        </tr>
        <tr>
	   <td class="Area"> The Southwest Area</td>
	   <td class="Area"> The Northwest Area</td>
	   <td class="Area"> The Pacific Area</td>
	   <td class="Area"> The Southeast Area</td>
	   <td class="Area"> The Middle Area</td>
	   <td class="Area"> The Alantic Area</td>
	</tr>
        <tr>
			<td> <a href="/team/1">San Antonio Spurs</a></td>
			<td> <a href="/team/6">Minnesota Timberwolves</a></td>
			<td> <a href="/team/11">Sacramento Kings</a></td>
			<td> <a href="/team/16">Miami Heat</a></td>
			<td> <a href="/team/21">Detroit Pistons</a></td>
			<td> <a href="/team/26">Boston Celtics</a></td>
		</tr>
	<tr>
		<td> <a href="/team/2">Memphis Grizzlies</a></td>
		<td> <a href="/team/7">Denver Nuggets</a></td>
		<td> <a href="/team/12">Phoenix Suns</a></td>
		<td> <a href="/team/17">Orlando Magic</a></td>
		<td> <a href="/team/22">Indiana Pacers</a></td>
		<td> <a href="/team/27">Philadelphia 76ers</a></td>
	</tr>
	<tr>
		<td> <a href="/team/3">Dallas Mavericks</a></td>
		<td> <a href="/team/8">Utah Jazz</a></td>
		<td> <a href="/team/13">L.A. Lakers</a></td>
		<td> <a href="/team/18">Atlanta Hawks</a></td>
		<td> <a href="/team/23">Cleveland Cavaliers</a></td>
		<td><a href="/team/28"> New York Knicks</a></td>
	</tr>
	<tr>
		<td> <a href="/team/4">Houston Rockets</a></td>
		<td> <a href="/team/9">Portland Trail Blazers</a></td>
		<td> <a href="/team/14">L.A. Clippers</a></td>
		<td> <a href="/team/19">Washington Wizards</a></td>
		<td> <a href="/team/24">Chicago Bulls</a></td>
		<td> <a href="/team/29">Brooklyn Nets</a></td>
	</tr>
	<tr>
		<td> <a href="/team/5">New Orleans Pelicans</a></td>
		<td> <a href="/team/10">Oklahoma City Thunder</a></td>
		<td> <a href="/team/15">Golden State Warriors</a></td>
		<td> <a href="/team/20">Charlotte Bobcats</a></td>
		<td> <a href="/team/25">Milwaukee Bucks</a></td>
		<td> <a href="/team/30">Toronto Raptors</a></td>
	</tr>
     </table>
</body>
</html>
