<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang='en' xml:lang="en">
<head>
    <title>{{name}}</title>
</head>
<body>
   <h1>{{name}}</h1>
   <h2>The information of {{name}}:</h2>
   <table>
       <tr>
          <th>City</th>
	  <td>{{city}}</td>
       </tr>
       <tr>
          <th>Section</th>
	  <td>{{section}}</td>
       </tr>
       <tr>
          <th>Boss</th>
	  <td>{{boss}}</td>
       </tr>
       <tr>
          <th>Gymnasium</th>
	  <td>{{gynasium</td>
       </tr>
       <tr>
          <th>TimetoNBA</th>
	  <td>{{timetoNBA}}</td>
       </tr>
       <tr>
          <th>NumOfChampion</th>
	  <td>{{numOfChampion}}</td>
       </tr>
   </table>
   <h2>The battle formation</h2>
   <ul>
   {% for player in player_list %}
      <li>{{player}}</li>
   {%endfor%}
   </ul>
</body>
</html>
