<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang='en' xml:lang="en">
<head>
    <title>{{team.name}}</title>
</head>
<body>
   <h1>{{team.name}}</h1>
   <h2>The information of {{team.name}}:</h2>
   <table>
       <tr>
          <th>City</th>
	  <td>{{team.city}}</td>
       </tr>
       <tr>
          <th>Section</th>
	  <td>{{team.section}}</td>
       </tr>
       <tr>
          <th>Boss</th>
	  <td>{{team.boss}}</td>
       </tr>
       <tr>
          <th>Gymnasium</th>
		  <td>{{team.gymnasium}}</td>
       </tr>
       <tr>
          <th>TimetoNBA</th>
	  <td>{{team.timeToNBA}}</td>
       </tr>
       <tr>
          <th>NumOfChampion</th>
	  <td>{{team.numOfChampion}}</td>
       </tr>
	   <tr>
		   <th>Coach</th>
		   {% for coach in team.coach_set.all %}
		   <td><a href={% url "info:coach" coach.Coach_id %}>
				   {{coach.first_name}} {{coach.last_name}}</a></td>
		   {% endfor %}
	   </tr>
   </table>
   <h2>Player</h2>
	{% for player in team.player_set.all %}
	<a href="{% url 'info:player' player.Player_id %}">
		{{player.first_name}} {{player.last_name}} </a>
		<br />
	{% endfor %}
</body>
</html>
